/* Overall styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Container styles */
div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TopDiv {
  padding-top: 7vmax;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
}
/* Media Query */
@media screen and (max-width: 768px) {
 
  .TopDiv {

    flex-direction: column;
    align-items: center;
  }
} */

/* Video Player styles */
.video-player {
  margin: 20px;
}

/* Upcoming Videos styles */
.nextVideos {
  min-height: 540px;
  margin: 20px;
  max-height: 540px;
  overflow-y: scroll;
  background-color: #f5f5f5;

  /* Scrollbar Styles */
  scrollbar-width: thin;
  scrollbar-color: #2fb2ea #6b66d2; /* Track and Handle colors */

  /* Webkit (Chrome, Safari) Styles */
  &::-webkit-scrollbar {
    border-radius: 40px;
    width: 8px; /* Width of the scrollbar */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #1fa6f4; /* Color of the thumb */
  }

  &::-webkit-scrollbar-track {
    background-color: #cfd8dc; /* Color of the track */
  }


  h3 {
    font-size: 1.2em; /* Adjust font size for smaller screens */
  }
}
@media screen and (max-width: 768px) {
  /* Adjust styles for screens with a maximum width of 768px */
  .nextVideos {
    min-height: 50vmax;
    max-height: 50vmax;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
  
    margin: 20px;
  
  
    h3 {
      font-size: 1.2em; /* Adjust font size for smaller screens */
    }
  }
  
}

/* Video List styles */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

button {
  background-color: #009688;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #00796b;
}

/* Comments styles */
.BottomDiv {
  min-height: 50vmax;
  max-height: 50vmax;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: row;

  margin: 20px;


  h3 {
    font-size: 1.2em; /* Adjust font size for smaller screens */
  }
}
@media screen and (max-width: 768px)
 {
  /* Adjust styles for screens with a maximum width of 768px */
  .BottomDiv {
    min-height: fit-content;
    max-height: fit-content;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;

  
    margin: 20px;
  
  
    h3 {
      font-size: 1.2em; /* Adjust font size for smaller screens */
    }
  }
  
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

strong {
  font-weight: bold;
}

/* Load Comments button styles */
button {
  background-color: #009688;
  color: white;
  border: none;
  padding: 15px;
  margin-top: 0px;
  cursor: pointer;
}

button:hover {
  background-color: #00796b;
}

.videoTitle {
  position: absolute;
  left: 7vmax;
  padding-left: 0.5em;
  padding-top: 5vmax;
  font-size: 1.5em;
}

@media screen and (max-width: 768px) {
  /* Adjust styles for screens with a maximum width of 768px */
  .TopDiv {
    flex-direction: column;
    align-items: center;
  }

  .video-player,
  .nextVideos,
  .BottomDiv {
    margin: 10px; /* Adjust margin for smaller screens */
  }
  .BottomDiv{

    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
  
    margin: 20px;
  
  
    h3 {
      font-size: 1.2em; /* Adjust font size for smaller screens */
    }
  }
  
  .videoTitle {
    left: 0;
  }
}
